* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 500px;
    height: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px 5px rgb(134, 134, 134);
    margin: 20px auto;
}

.form-chat {
    display: flex;
    justify-content: space-between;
}

.form-input {
    border: 3px solid #4284e7;
    padding: 7px 5px;
    width: 80%;
    margin-right: 10px;
    outline: none;
}

.form-input:focus {
    border: 3px solid #15c0eb;
}

.form-btn {
    border: none;
    background-color: #156eeb;
    ;
    padding: 0px 5px;
    width: 30%;
    transition: 0.3s;
    cursor: pointer;
}

.form-btn:hover {
    transform: scale(1.05);
}

.wrapper-chat {
    overflow: auto;
    border: 3px solid #156eeb;
    ;
    padding: 5px;
    margin-top: 12px;
    height: 400px;
}

.messages {
    border: 3px solid #156eeb;
    ;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 7px;
    align-self: flex-end;
}

.user-messages {
    display: flex;
    flex-flow: column wrap;
}

a {
    cursor: pointer;
    color: #156eeb;
    text-decoration: none;
}

a:hover {
    color: #15c0eb;
}

.geo-location {
    margin-left: 6px;
}